.card {
  padding: 1rem;
  aspect-ratio: 4 / 5;
  background-color: #fff;
  box-shadow: 0 0 20px rgb(0 0 0 / 10%);
  border-radius: 24px;
  transition: all .2s ease-in-out;
  user-select: none;
  &:hover {
    transform: scale(1.03);
  }
  .cardHeader {
    width: 100%;
    height: 70%;
    img {
      margin: 0 auto;
      width: 90%;
      height: 90%;
    }
  }
  .cardBody {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    span {
      font-size: 20px;
      margin: 7px 0;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
    .description {
      margin-top: 0px;
      font-size: 15px;
      color: rgb(182, 179, 179);
    }
  }
}