 nav {
   width: 100%;
   padding: 20px 5%;
   box-sizing: border-box;

   ul {
     list-style: none;
     display: flex;

     li {
       margin: 1rem 20px;

       &:nth-child(1) {
         margin-left: 0px;
       }
       
      .activeLink {
        text-decoration: none;
        font-size: 18px;
        color: red !important;
      }

       a {
         text-decoration: none;
         color: #000;
         font-size: 18px;
       }

      .activeLink {
        text-decoration: none;
        font-size: 18px;
        color: red !important;
      }


     }
   }
 }
